<div
    class="modal fade"
    id="edit-post-modal"
    tabindex="-1"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Zmień wiadomość</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>
            </div>

            <div class="modal-body">
                <form>
                    <textarea class="form-control" id="edit-post-content"></textarea>
                </form>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >Anuluj</button>

                <button
                    type="button"
                    class="btn btn-primary"
                    onclick="editPost()"
                    data-bs-dismiss="modal"
                >Zapisz</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function deletePost(id)
    {
        var resp = await fetch(
            `api/posts/${id}`,
            { method: 'DELETE' }
        );

        if (resp.ok)
        {
            var element = document.getElementById(id.toString());
            element.parentNode.removeChild(element);
        }
        else
            console.log(await resp.json());
    }

    var editPostModal = document.getElementById('edit-post-modal');
    var editPostContent = document.getElementById('edit-post-content');
    var openedPostId, openedPostContent;

    editPostModal.addEventListener('show.bs.modal', function (event)
    {
        openedPostId = event.relatedTarget.getAttribute('data-post-id');
        openedPostContent = document.getElementById(`content-${openedPostId}`);

        editPostContent.value = openedPostContent.innerText;
    });

    async function editPost()
    {
        var resp = await fetch(
            `api/posts/${openedPostId}`,
            {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ content: editPostContent.value })
            }
        );

        if (resp.ok)
            openedPostContent.innerText = editPostContent.value;
        else
            console.log(await resp.json());
    }
</script>

{% for post in posts %}
    <div class="card mb-1" id="{{post.id}}">
        <div class="card-body">
            <div class="
                d-flex
                justify-content-between
            ">
                <div>
                    <h5 class="card-title d-md-inline mb-1">{{post.user.title}}</h5>
                    <h6 class="card-subtitle d-md-inline ms-md-1 mb-1">
                        <a
                            class="text-muted text-decoration-none text-nowrap"
                            href="/{{post.user.username}}"
                        >@{{post.user.username}}</a>
                    </h6>
                </div>

                {% if post.author == current_user.id %}
                <div class="dropdown">
                    <button
                        class="btn btn-sm btn-outline-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                    ></button>

                    <ul class="dropdown-menu">
                        <li><button
                            class="dropdown-item"
                            data-bs-toggle="modal"
                            data-bs-target="#edit-post-modal"
                            data-post-id="{{post.id}}"
                        >Zmień</button></li>

                        <li><button
                            class="dropdown-item"
                            onclick="deletePost({{post.id}})"
                        >Usuń</button></li>
                    </ul>
                </div>
                {% endif %}
            </div>

            <p class="card-text" id="content-{{post.id}}">{{post.content}}</p>
        </div>
    </div>
{% endfor %}